# Ignorar todo el contenido de data y models
data/*
models/*

# Permitir .gitkeep en subcarpetas
!data/**/.gitkeep
!models/.gitkeep

__pycache__/
*.pyc

# Ignorar notebooks checkpoints
.ipynb_checkpoints/

# Ignorar grandes archivos
*.h5
*.parquet
*.csv
