# Ignorar el contenido de data y models, pero no las carpetas
data/*
!data/
!data/**/
!data/**/.gitkeep

models/*
!models/
!models/.gitkeep

# Ignorar entornos y dependencias
venv/
__pycache__/
*.pyc

# Ignorar notebooks checkpoints
.ipynb_checkpoints/

# Ignorar grandes archivos
*.h5
*.parquet
*.csv
